img{
    width: 20px;
    height: auto;
}

.update img{
    width: 20px;
    height: auto;
}

* {
    box-sizing: border-box;
}

aside img{
    width: 10px;
    height: auto;
}

body {
    background-color: #D9D7F1;
    font-size: 18px;
}

header {
    text-align: center;
}

.title1 {
    text-align: center;
    font-size: 3em;
    color: #fff;
}

.priorityNone {
    display: none;
}