@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

img{
    width: 20px;
    height: auto;
}

.update img{
    width: 20px;
    height: auto;
}

* {
    box-sizing: border-box;
}

aside img{
    width: 20px;
    height: auto;
}

body {
    background-color: #D9D7F1;
    font-size: 18px;
    font-family: 'Kalam', cursive;
}

header {
    text-align: center;
    padding: 50px 0;
}

.title1 {
    text-align: center;
    font-size: 3em;
    font-weight: 700;
    color: #fff;
}

/* .priorityInput {
    display: none;
} */

.addForm {
    margin: 5% 0;
    /* position: relative; */
}

#task-push {
    width: 50%;
    height: 50px;
    border-radius: 25px;
    border: none;
    padding: 10px 25px;
}


#priorityInput {
    height: 50px;
    border-radius: 25px;
    border: none;
    padding: 10px;
}

#addButton {
    color: #fff;
    font-weight: 700;
    background-color: #FFDD67;
    border: none;
    padding: 10px 30px;
    height: 45px;
    border-radius: 25px;
    /* position: absolute; */
    /* right: 260px;
    top: 2px; */
    cursor: pointer;
}

.mainContainer {
    display: flex;
    margin: 0 20%;
    justify-content: center;
    gap: 50px;
}

.tasks-list-container {
    border-color: aquamarine;
}

.tasks {
    width: 200px;
    height: 350px;
    background-color: #fff;
    line-height: 2.3em;
    padding: 10px;
    border-radius: 10px;
}

.tasks a {
    text-decoration: none;
}

#randomLink {
    color: #4E88E0;
}
#priorityLink {
    color: #FFC107;
}


#task-global{
    display: flex;
    gap: 20px;
    align-items: center;
    background-color: #fff;
    width: 690px;
    border-radius: 25px;
    border: none;
    padding: 14px;
    margin-bottom: 10px;
}

.text-value{
    width: 540px;
    font-size: 15px;
    font-family: 'Kalam', cursive;
    border: none;
}

#tasks-status{
    font-size: 13px;
    font-family: 'Kalam', cursive;
    color: grey;
}


.update{
    display: flex;
    gap: 20px;
    align-items: center;
    background-color: #fff;
    width: 690px;
    border-radius: 25px;
    border: none;
    padding: 14px;
    margin-bottom: 10px;    
}

.form-control{
    width: 420px;
    font-size: 15px;
    font-family: 'Kalam', cursive;
    border: 2px solid #D9D7F1;
    border-radius: 25px;
    padding-left: 14px;
}

.form-select{
    border-radius: 25px;
    padding: 5px;
    border: 2px solid #D9D7F1;
}

.btn-cancel{
    color: #fff;
    font-weight: 700;
    background-color: #FFDD67;
    border: none;
    padding: 7px;
    border-radius: 25px;
    cursor: pointer;
}

.btn-success{
    color: #fff;
    font-weight: 700;
    background-color: #FFDD67;
    border: none;
    padding: 7px;
    border-radius: 25px;
    cursor: pointer;
}

.top {
    margin: 10px 0;
    border: 2px solid #FFDD67;
    padding: 10px;
    border-radius: 10px;
}

.navTask {
    margin: 10px 0;
    padding: 0 10px;
}

.navTask button{
    border: none;
    background-color: white;
    font-size: 18px;
    font-family: 'Kalam', cursive;
    display: flex;
    gap: 5px;
    padding-bottom: 8px;
}

#btnLink {
    color: #46443E;
}
#btnDoing {
    color: #FAD207;
}
#btnDone {
    color: #80AAFF;
}
#btnAll {
    color: #C5E1A5;
}