@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

img{
    width: 20px;
    height: auto;
}

.update img{
    width: 20px;
    height: auto;
}

* {
    box-sizing: border-box;
}

aside img{
    width: 20px;
    height: auto;
}

body {
    background-color: #D9D7F1;
    font-size: 18px;
    font-family: 'Kalam', cursive;
}

header {
    text-align: center;
    padding: 50px 0;
}

.title1 {
    text-align: center;
    font-size: 3em;
    font-weight: 700;
    color: #fff;
}

.priorityNone {
    display: none;
}

.addForm {
    margin: 5% 0;
    /* position: relative; */
}

#task-push {
    width: 50%;
    height: 50px;
    border-radius: 25px;
    border: none;
    padding: 10px 25px;
}

#addButton {
    color: #fff;
    font-weight: 700;
    background-color: #FFDD67;
    border: none;
    padding: 10px 30px;
    height: 45px;
    border-radius: 25px;
    /* position: absolute; */
    /* right: 260px;
    top: 2px; */
    cursor: pointer;
}

.mainContainer {
    display: flex;
    margin: 0 20%;
    justify-content: space-between;
    background-color: lightyellow;
}

.tasks-list-container {
    border-color: aquamarine;
}

.tasks {
    width: 200px;
    background-color: #fff;
    line-height: 2.3em;
    padding: 10px;
}

#task {
    /* display: flex; */
    background-color: #fff;
    width: 300px;
}